{% extends 'base.html' %}
{% block title %} DefensePro| Reviews  {% endblock %}
{% load static %}
{% block content %}

    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ user.lecturer.title }} &nbsp;{{ user.lecturer.get_full_name }} </h4>
                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Document</th>
                                        <th>Student</th>
                                        <th>Reviewed At</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for review in reviews %}
                                        <tr>
                                            <td> {{ forloop.counter }}</td>

                                            <td>{{ review.document.title }}</td>

                                            <td>


                                                {{ review.document.student.get_full_name }}

                                            </td>
                                            <td>{{ review.document.created_at }}</td>
                                            <td>
                                                {% if review.status == 'Pending' %}
                                                    <div class="badge badge-info">{{ review.status }}</div>
                                                {% elif review.status == 'Approved' %}
                                                    <div class="badge badge-success">{{ review.status }}</div>
                                                {% elif review.status == 'Rejected' %}
                                                    <div class="badge badge-danger">{{ review.status }}</div>
                                                {% else %}
                                                    <div class="badge badge-secondary">{{ review.status }}</div>
                                                {% endif %}
                                            </td>

                                            <td>
                                                <!-- Add action buttons here -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
